name: Deploy PR Build and Check

on:
  pull_request:
    types:
      - opened
      - synchronize
      - closed

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.0.0

      - name: Install Dependencies
        run: npm install

      - name: Build Documentation
        run: npm run build
